# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/
AMD64.*/
build-wrapper-linux-x86-32
build-wrapper-win-x86-32.exe
build-wrapper-linux-x86-64
build-wrapper-win-x86-64.exe
libinterceptor-*
build-wrapper-linux-x86/
build-wrapper-win-x86/
sonar-scanner-3.0.3.778-linux/
sonar-scanner-3.0.3.778-windows/
cpplint.egg-*
# Add any directories, files, or patterns you don't want to be tracked by version control
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeLists.txt.user